/*Reset*/

*{margin:0; padding:0; border:0;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{font-size:26px;}

h2{font-size:20px;}

h3{font-size:16px;}

h4{font-size:12px;}

h5{font-size:8px;}

h6{font-size:5px;}

li {list-style: none;}

a {text-decoration: none;}

a:hover {text-decoration: underline;}





/*ESTILOS GENERALES*/

div#fondo_menuprincipal{
background-repeat:repeat-y;
height: 143px;
width:960px;
margin-left:161px;
}

div#fondoblanco_about {
background-image: url(../img/fondo_blanco_about.png);
background-repeat:repeat-y;
background-position:left;
height: 565px;
margin-left:150px;
margin-top:35px;
}

div#fondoblanco_video {
background-image: url(../img/fondo_blanco_video.png);
background-repeat:repeat-y;
background-position:right;
height: 565px;
margin-right:-170px;
margin-top:-538px;
}

div#fondo_latest_post{
background-image: url(../img/fondoazul_latestpost.png);
background-repeat:no-repeat;
background-position:right;
height:200px;
margin-right:15px;
padding-top:135px;
}


/*CLASES GENERALES*/

div.estructura_central{
width:960px;
}

.colorbold{
color:#d1c290;
}

.colorlink{
color:#d1c290;
text-decoration:none;
}


/*LOGO*/

div#logo{
position:absolute;
margin-left:-18px;
margin-right:0px;
margin-top:0px

}

/*MENU PRINCIPAL*/

div#navegacion{
position:absolute;
margin-top:107px;
font-size:15px;
font-weight:bold;
margin-left:360px;
margin-right:2px;
width:840px;
}

ul#menu_navegacion{
padding:0px;
margin:0px;
}

ul#menu_navegacion li{
float:left;
margin:5px;
padding:6px;
display:inline;
word-spacing:2px;

}

ul#menu_navegacion li a{
padding:0;
margin:0;
color:#fa0611;
font-family: century gothic, sans serif;
text-decoration:none;
display:block;
font-size:110%;
}

ul#menu_navegacion li a:hover{
color:#0d0e0e;

}

ul#menu_navegacion li.active a{
color:#0d0e0e;
}


div#busqueda{
position:absolute;
margin-top:15px;
margin-left:665px;
margin-right:0px;
margin-bottom:1326px;
width: 284px;
height: 33px;

}

/*BARRA LATERAL AMARILLA*/
div#barralateral {
background-image: url(../img/barralateral.png);
background-repeat:repeat-y;
background-position:left;
height: 496px;
margin-top:30px;
margin-left:150px;
}

div#contactenos h1{
padding-top:40px;
padding-left:35px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

div#contactenos h1 a{
color:#0d0e0e;
text-decoration:none;
}

div#contactenos h1 a:hover{
color:yellow;
}

div#contactenos p a{
color:#0d0e0e;
text-decoration:none;
}

div#contactenos p a:hover{
color:yellow;
}

.linea_amarilla1{
padding-top:20px;
}

div#tripadvisor h1{
padding-top:20px;
padding-left:35px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

.logotripadvisor{
margin-left:35px;
}

.linea_amarilla2{
padding-top:20px;
}

div#gokite_blog h1{
padding-top:20px;
padding-left:35px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

div#gokite_blog h1 a{
color:#0d0e0e;
text-decoration:none;
}

div#gokite_blog h1 a:hover{
color:yellow;
}


div#gokite_blog p a{
color:#0d0e0e;
text-decoration:none;
}

div#gokite_blog p a:hover{
color:yellow;
}

.linea_amarilla3{
padding-top:30px;
}

div#redes_sociales h1{
padding-top:20px;
padding-left:35px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

.facebook{
padding-left:45px;
}

.twitter{
margin-left:-8px;
}

.span{
font-weight:normal;
font-size:100%;
}

.parrafo{
padding-left:55px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
font-size:100%;
}

.parrafo2{
padding-left:35px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
font-size:100%;
}


/*IMAGENES DEL CARROUSEL o SLIDE*/

div#slide_imagenes{
width:650px;
height:496px;
position:relative;
float:left;
margin:-496px 476px;
z-index:-1;
}

/*div#slide_imagenes ul li.thumb{
display:none;
}

div#slide_imagenes ul li.slide_default{
display:block;
}*/


/*SOMBRA DEBAJO DE BARRA LATERAL Y SLIDES*/
div#sombra {
padding-left:149px;
margin-top:-12px;
}

/*ELEMENTOS DE LA SECCION ABOUT*/

div#fondoblanco_about h1{
padding-top:18px;
padding-left:14px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

div#fondoblanco_about h3{
padding-top:55px;
padding-left:170px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

div#fondoblanco_about p{
padding-top:10px;
padding-left:14px;
padding-right:265px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
line-height:120%;
}

div#fondoblanco_about p b a:hover{
color:#0d0e0e;
}


/*ELEMENTOS DE LA SECCION COMPARTELO*/

div#compartelo{
margin-top:-20px;
padding-left:280px;
}


/*ELEMENTOS DE LA SECCION VIDEO*/
div#video h1{
margin-top:39px;
padding-top:18px;
padding-left:585px;
padding-bottom:10px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

div#video object{
padding-left:585px;
}


/*ELEMENTOS DE LA SECCION LATEST POST*/

div#latestpost h1{
margin-top:-120px;
padding-left:585px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

div#post1 h3{
padding-top:15px;
padding-left:595px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

div#post1 p{
padding-top:5px;
padding-left:595px;
padding-right:15px;
}

div#post2 h3{
padding-top:5px;
padding-left:595px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

div#post2 p{
padding-top:3px;
padding-left:595px;
padding-right:15px;
}

div#latestpost img{
margin-top:3px;
padding-left:583px;
}


/*ELEMENTOS DE LA SECCION FOOTER O PIE DE PAGINA*/
div#footer{
position:absolute;
margin-top:1170px;
font-size:15px;
font-weight:bold;
margin-left:293px;
margin-right:293px;
width:740px;

}

ul#Menu_Footer{
padding:0px;
margin:0px;

}

ul#Menu_Footer li{
float:left;
margin:8px;
padding:5px;
display:inline;
word-spacing: 2px;
}

ul#Menu_Footer li a{
padding:0;
margin:0;
color: red;
font-family: century gothic, sans serif;

}

ul#Menu_Footer li a:hover{
padding:0;
margin:0;
color:#0d0e0e;
text-decoration:none;
}

ul#Menu_Footer li a.active{
color:#0d0e0e;

}

/*ELEMENTOS DE LA SECCION COPYRIGHT*/
div#copyright{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
position:absolute;
margin-left:390px;
margin-top:1210px;
}

div#copyright h3{
padding-top:8px;
}

div#copyright span{
font-weight:normal;
font-size:100%;
}


/*PAGINA KITEBOARDING LESSON*/ /*ELEMENTOS DEL LAYOUT*/ 
div#background_arenademar01{
background-image: url(../img/fondo_arenademar.jpg);
background-repeat:x;
width:1280px;
height:1400px;
position:absolute;
margin-top:0px;
z-index:-1;
}

div#background_arenademar02 {
background-image: url(../img/fondo_arena.jpg);
background-repeat:x;
width:1280px;
height:1400px;
position:absolute;
}


div#fondoblanco_contenido{
background-image: url(../img/fondoblanco_kitelesson.jpg);
background-repeat: y;
width:960px;
height:1120px;
position:absolute;
margin-top:30px;
margin-left:161px;
z-index:-1;
}


div#franja_amarilla{
background-image: url(../img/franjaamarilla.png);
background-repeat:repeat-y;
background-position:left;
width:960px;
height: 90px;
margin-right:161px;
margin-top:0px;
text-decoration:none;
}

div#franja_amarilla p {
padding-top:3px;
padding-left:10px;
font-family: century gothic, sans serif;
font-size:80%;

}

div#franja_amarilla p a {
color:#fd0803;
text-decoration:none;
}

.colorh1 {
color:#010101;
}

div#franja_amarilla p a:hover {
color:#0d0e0e;
text-decoration:none;
}

/*ELEMENTOS DEL CONTENIDO*/ 
div#franja_amarilla h1{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
padding-top:5px;
padding-left:10px;
padding-right:10px;
color:black;

}

div#franja_amarilla span{
font-weight:normal;
font-size:100%;
}


/*ELEMENTOS DEL BEGINNGER COURSE*/
.efectofotos_kitelesson{
width: 235px;
height: 169px;
-webkit-border-radius: 2px 1px 1px 2px/3px 3px 2px 2px;
-moz-border-radius: 2px 1px 1px 2px/3px 3px 2px 2px;
border-radius: 2px 1px 1px 2px/3px 3px 2px 2px;
background-color: rgba(188,224,223,.3);
border: solid 1px #9dd2eb;
padding-top:5px;
padding-left:5px;
padding-right:5px;
padding-bottom:5px;

}

div#beginner_package img.efectofotos_kitelesson{
margin-top:0px;
margin-left:25px;
margin-right:8px;
}

div#beginner_package p{
margin-top:10px;
padding-left:25px;
padding-right:10px;
line-height:120%;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

div#beginner_package h2{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
margin-top:35px;
padding-left:220px;
color:#d1c290;
}

div#beginner_package p b a:hover{
color:#0d0e0e;
text-decoration:underline;
}


/*ELEMENTOS DEL SEMI PRIVATE COURSE*/
div#semi_private img.efectofotos_kitelesson{
margin-top:0px;
margin-left:25px;
margin-right:10px;
}


div#semi_private p{
margin-top:10px;
padding-left:25px;
padding-right:10px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
line-height:120%;
}

div#semi_private h2{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
margin-top:55px;
padding-left:220px;
color:#d1c290;
}

div#semi_private p b a:hover{
color:#0d0e0e;
}



/*ELEMENTOS DEL VIP COURSE*/
div#vip_package img.efectofotos_kitelesson{
margin-top:0px;
margin-left:25px;
margin-right:10px;
}

div#vip_package p{
margin-top:10px;
padding-left:25px;
padding-right:10px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
line-height:120%;
}

div#vip_package h2{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
margin-top:55px;
padding-left:220px;
color:#d1c290;
}

div#vip_package p b a:hover{
color:#0d0e0e;
}

/*ELEMENTOS DEL RENTAL EQUIPMENT*/

div#kite_rental p{
margin-top:10px;
padding-left:25px;
padding-right:10px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
line-height:120%;
}

div#kite_rental h2{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
margin-top:50px;
padding-left:25px;
color:#d1c290;
}

div#kite_rental h2 a{
text-decoration:none;
color:#d1c290;
}

div#kite_rental p b a:hover{
color:#0d0e0e;
}

div#kite_rental h1{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
margin-top:32px;
padding-left:25px;
color:#d1c290;
}


/*ELEMENTOS DE LA PAGINA KITE REPAIR*/

div#kite_repair p{
padding-left:20px;
padding-top: 25px;
padding-right:20px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
line-height:120%;
}

div#kite_repair p b a:hover{
color:#0d0e0e;
}


.marcofotos_kiterepair1{
-webkit-border-radius: 4px/3px;
-moz-border-radius: 4px/3px;
border-radius: 4px/3px;
background-color: rgba(188,224,223,.3);
border: solid 1px #9dd2eb;
width: 401px;
height: 257px;
margin-top:20px;
margin-left:20px;
margin-right:15px;
}

.marcofotos_kiterepair2{
-webkit-border-radius: 4px/3px;
-moz-border-radius: 4px/3px;
border-radius: 4px/3px;
background-color: rgba(188,224,223,.3);
border: solid 1px #9dd2eb;
width: 401px;
height: 257px;
margin-top:-50px;
margin-left:15px;
}


/*ELEMENTOS DEL CONTENIDO PAGINA KITE FOR SALE*/

/*ELEMENTOS DE LA SECCION EQUIPOS NUEVOS*/
div#brand_new_equipment h2{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
margin-top:30px;
padding-left:220px;
color:#d1c290;
}

div#brand_new_equipment img.efectos_marcosfotos{
margin-right:10px;
margin-top:0px;
}

div#brand_new_equipment p{
padding-left:25px;
margin-top: 10px;
padding-right:20px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
line-height:120%;
}

div#brand_new_equipment p b a:hover{
color:#0d0e0e;
}

.efectos_marcosfotos{
-webkit-border-radius: 4px/3px;
-moz-border-radius: 4px/3px;
border-radius: 4px/3px;
background-color: rgba(188,224,223,.3);
border: solid 1px #9dd2eb;
width: 205px;
height: 139px;
padding-top:3px;
padding-bottom:3px;
margin-left:25px;
}

/*ELEMENTOS DE LA SECCION EQUIPOS USADOS*/

div#used_equipment h2{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
margin-top:80px;
padding-left:220px;
color:#d1c290;
}

div#used_equipment img.efectos_marcosfotos{
margin-right:10px;
margin-top:0px;
}

div#used_equipment p{
padding-left:25px;
margin-top: 10px;
padding-right:20px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
line-height:120%;
}

div#used_equipment p b a:hover{
color:#0d0e0e;
}


/*ELEMENTOS DE LA SECCION CAMISETAS*/
div#camisetas h2{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
margin-top:80px;
padding-left:220px;
color:#d1c290;
}

div#camisetas img.efectos_marcosfotos{
margin-right:10px;
margin-top:0px;
}

div#camisetas p{
padding-left:25px;
margin-top: 10px;
padding-right:20px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
line-height:120%;
}

div#camisetas p b a:hover{
color:#0d0e0e;
}


/*ELEMENTOS DE LA SECCION LENTES DE SOL*/
div#lentesdesol h2{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
margin-top:130px;
padding-left:220px;
color:#d1c290;
}

div#lentesdesol img.efectos_marcosfotos{
margin-right:10px;
margin-top:0px;
}

div#lentesdesol  p{
padding-left:25px;
margin-top: 10px;
padding-right:20px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
line-height:120%;
}

div#lentesdesol p b a:hover{
color:#0d0e0e;
}


/*ELEMENTOS DE LA PAGINA CABARETE*/
.efectosfotos_sup{
-webkit-border-radius: 4px/3px;
-moz-border-radius: 4px/3px;
border-radius: 4px/3px;
background-color: rgba(188,224,223,.3);
border: solid 1px #9dd2eb;
width: 401px;
height: 257px;
margin-top:20px;
margin-left:25px;
}

.efectosfotos_sup2{
-webkit-border-radius: 4px/3px;
-moz-border-radius: 4px/3px;
border-radius: 4px/3px;
background-color: rgba(188,224,223,.3);
border: solid 1px #9dd2eb;
width: 401px;
height: 257px;
margin-top:-277px;
margin-left:510px;
}

div#contenido_cabarete img.efectosfotos_sup{
margin-right:10px;
margin-top:25px;
}

div#contenido_cabarete p{
padding-left:20px;
padding-top: 30px;
padding-right:20px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
line-height:120%;
}

div#contenido_cabarete p b a:hover{
color:#0d0e0e;
}


/*ELEMENTOS DE LA PAGINA GOKITE TEAM*/

/*RICHARD DIAZ*/
.efectomarco_gokiteteam{
width: 150px;
height: 150px;
-webkit-border-radius: 2px 1px 1px 2px/3px 3px 2px 2px;
-moz-border-radius: 2px 1px 1px 2px/3px 3px 2px 2px;
border-radius: 2px 1px 1px 2px/3px 3px 2px 2px;
background-color: rgba(188,224,223,.3);
border: solid 1px #9dd2eb;
margin-left: 25px;

}

div#richard h2{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
margin-top:25px;
padding-left:180px;
color:#d1c290;
}

div#richard img.efectomarco_gokiteteam{
margin-right:10px;
margin-top:-10px;
}

div#richard p{
padding-left:25px;
margin-top: 10px;
padding-right:15px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
line-height:120%;
}

div#richard p b a:hover{
color:#0d0e0e;
}

/*YANERIS*/

div#yanipacheco h2{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
margin-top:70px;
padding-left:180px;
line-height:120%;
color:#d1c290;
}

div#yanipacheco img.efectomarco_gokiteteam{
margin-right:10px;
margin-top:-40px;
}

div#yanipacheco p{
padding-left:25px;
margin-top: 10px;
padding-right:25px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

/*QUICHIPA*/

div#quichipa h2{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
margin-top:70px;
padding-left:180px;
line-height:120%;
color:#d1c290;
}

div#quichipa img.efectomarco_gokiteteam{
margin-right:10px;
margin-top:-40px;
}

div#quichipa p{
padding-left:25px;
margin-top: 10px;
padding-right:25px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

/*KELVIN*/

div#quichipa h2{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
margin-top:80px;
padding-left:180px;
line-height:120%;
color:#d1c290;
}

div#quichipa img.efectomarco_gokiteteam{
margin-right:10px;
margin-top:-30px;
}

div#quichipa p{
padding-left:25px;
margin-top: 10px;
padding-right:25px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}


/*PAPO*/

div#kelvincorniel h2{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
margin-top:80px;
padding-left:180px;
line-height:120%;
color:#d1c290;
}

div#kelvincorniel img.efectomarco_gokiteteam{
margin-right:10px;
margin-top:-20px;
}

div#kelvincorniel p{
padding-left:25px;
margin-top: 10px;
padding-right:25px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

/*PAPO*/

div#francisconolasco h2{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
margin-top:80px;
padding-left:180px;
line-height:120%;
color:#d1c290;
}

div#francisconolasco img.efectomarco_gokiteteam{
margin-right:10px;
margin-top:-15px;
}

div#francisconolasco p{
padding-left:25px;
margin-top: 10px;
padding-right:25px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

/*JOSE LUIS*/

div#joseluis h2{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
margin-top:80px;
padding-left:180px;
line-height:120%;
color:#d1c290;
}

div#joseluis img.efectomarco_gokiteteam{
margin-right:10px;
margin-top:-10px;
}

div#joseluis p{
padding-left:25px;
margin-top: 10px;
padding-right:25px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

/*CONTENIDO DEL BLOG*/

div#separadorblog{
background-image: url(../img/fondo_arena.jpg);
background-repeat:y;
width:8px;
height:1090px;
margin-top:-1060px;
margin-left:580px;
z-index:-1;
position:absolute;
}

div#entradas_blog{
margin: 20px 427px 0px 10px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

div#entradas_blog .post li{
margin:20px 5px 70px 5px;
}

div#entradas_blog .post li div span a{
text-decoration:none;
color:red;
}

div#entradas_blog .post li h1{
margin:0px 0px 20px 0px;
}

div#entradas_blog .post li h1 a span{
font-weight:normal;
font-size:100%;
color:black;
}

div#entradas_blog .post li h1 a{
text-decoration:none;
color:black;
}

div#entradas_blog .post li h1 a span:hover{
color:#d1c290;
}

div#entradas_blog .post li  span{
color:#ccc299;
}

div#entradas_blog .post li  span a{
color:#ccc299;
}

div#entradas_blog .post li p{
margin-top:7px;
margin-right:-20px;
text-align:left;
line-height:120%;
}

div#entradas_blog .post li p b{
color:#d1c290;
}

div#entradas_blog .post li p b a:hover{
color:#0d0e0e;
}

div#entradas_blog .post li h3{
margin:10px 0px 10px 0px;
text-align:right;
}

div#entradas_blog .post li h3 a{
text-decoration:none;
color:#fa0611;
}

div#entradas_blog .post li h3 a:hover{
color:#0d0e0e;
}




/*CONTENIDO DEL BLOG - SECCION DE ANUNCIOS*/

div#seccion_anuncios{
background-image: url(../img/fondoazul_anuncios.png);
background-position:right;
background-repeat:no-repeat;
width:331px;
height:294px;
position:relative;
margin-left:610px;
margin-top:-990px;
}

div#seccion_anuncios img{
padding-top:10px;
margin-left:12px;
margin-right:8px;
}

/*CONTENIDO DEL BLOG - SECCION RSS*/

div#facebook_likebox{
margin-top:45px;
margin-left:625px;
}

div#facebook_likebox h2{
padding-left:0px;
margin-top:5px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

div#facebook_likebox img{
margin-top:10px;
margin-bottom:10px;
margin-right:33px;
width: 317px;
height: 1px;
background-color: #75acd7;
}

div#facebook_likebox h2 span{
font-weight:normal;
font-size:100%;
}


div#categorias h2{
padding-left:620px;
padding-top:40px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

div#categorias img{
margin-top:10px;
margin-right:33px;
width: 317px;
height: 1px;
background-color: #75acd7;
}

div#categorias h2 span{
font-weight:normal;
font-size:100%;
}

div#categorias h3{
font-family:"Century Gothic",Georgia,arial,Sans Serif;
margin-top:20px;
margin-left:620px;
}



/*CONTENIDO DEL FORMULARIO DE CONTACTO*/

.mapa{
margin-top:-290px;
margin-left:460px;
}

div#localizacion{
margin: 90px 15px 0px 15px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

div#localizacion h2{
padding: 20px 5px 0px ;
}

div#localizacion h2 p{
color:black;
font-size:18px;
}

div#localizacion h2 span a:hover{
color:#d1c290;
}

div#localizacion span{
font-weight:normal;
font-size:100%;
}

/*SECCION ACCESO AL BLOG*/

div#accesoal_blog{
margin-left:1121px;
margin-top:50px;
position:absolute;
}

div#accesoal_blog h2{
margin-top:-46px;
padding-left:10px;
font-family:"Century Gothic",Georgia,arial,Sans Serif;
}

div#accesoal_blog h2 a{
color:#fd0803;
}


div#accesoal_blog h2 a:hover{
color:#0d0e0e;
}







